<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />

    <title>Task Form</title>
  </head>
  <body>
    <div class="container">
      <h1>Create a Task</h1>

      <form action="/createtask" method="POST">
        <label for="task">Task:</label>
        <input type="text" id="task" name="task" required /><br /><br />

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required /><br /><br />

        <label for="difficulty">Difficulty:</label>
        <select id="difficulty" name="difficulty">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option></select
        ><br /><br />

        <label for="participants">Participants:</label>
        <select id="participants" name="participants" required>
          <option value="">Any number of people</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option></select
        ><br /><br />

        <label for="cost">Cost:</label>
        <input type="text" id="cost" name="cost" required /><br /><br />

        <label for="accessibility">Accessibility:</label>
        <input
          type="text"
          id="accessibility"
          name="accessibility"
          required
        /><br /><br />

        <label for="timeRequired">Time Required:</label>
        <input
          type="text"
          id="timeRequired"
          name="timeRequired"
          required
        /><br /><br />

        <label for="familyFriendly">Family Friendly:</label>
        <select id="familyFriendly" name="familyFriendly">
          <option value="true">Yes</option>
          <option value="false">No</option></select
        ><br /><br />

        <label for="link">Link:</label>
        <input type="url" id="link" name="link" /><br /><br />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
